<div class="text-neutral-100 text-xs font-light bg-orange-600 dark:bg-gray-900 px-4 py-2 flex flex-col md:flex-row justify-center items-center gap-4 text-center">
  <div class="flex flex-wrap justify-center items-center gap-6">

    <a href="tel:+3659400076" class="flex font-semibold items-center gap-2 hover:opacity-90 transition">
      <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 fill-current" viewBox="0 0 24 24">
        <path d="..."/>
      </svg>
      +36 70 368 7809
    </a>

    <a href="mailto:info@pillertuzep.hu" class="hidden md:flex items-center gap-2 hover:opacity-90 transition">
      <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 stroke-current" fill="none" viewBox="0 0 24 24" stroke-width="1.5">
        <path stroke-linecap="round" stroke-linejoin="round" d="..."/>
      </svg>
      info@elviratuzep.hu
    </a>

    <a href="https://maps.app.goo.gl/h2iNFY7mzdPu6uVSA" target="_blank" class="flex font-semibold items-center gap-2 hover:opacity-90 transition">
      <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 fill-current" viewBox="0 0 24 24">
        <path d="..."/>
      </svg>
      2030 Érd, Elvira utca 33.
    </a>

  </div>
</div>
